<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Squad Server Manager</title>
</head>

<body>
	<h1>Squad Server Manager</h1>

	<ul>
		<% if (!user) { %>
		<li><a href="/login">Login</a></li>
		<% } else { %>
		<li><a href="/logout">Logout</a></li>
		<% } %>
		<li><a href="/">Home</a></li>
	</ul>

	<% if (user) { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
	<% } %>

</body>

</html>